<p-dialog [style]="{ width: '70vw'}" header="Gerenciamento de Sprints" [(visible)]="show">
  <p-card header="Gerenciamento de Sprints" styleClass="ui-card-shadow">
    <form [formGroup]='sprintForm'>
      <div class="ui-fluid p-formgrid p-grid">
        <div class="ui-g">
          <div class="ui-lg-8 ui-md-8 ui-sm-12">
            <label>Nome:</label>
            <input type="text" pInputText formControlName="nome">

            <app-form-field-error [form-control]="sprintForm.get('nome')"></app-form-field-error>
          </div>

          <div class="ui-lg-4 ui-md-4 ui-sm-12">
            <label>Pontos de Função:</label>
            <input type="text" pInputText formControlName="pontosFuncao" />

            <app-form-field-error [form-control]="sprintForm.get('pontosFuncao')"></app-form-field-error>
          </div>
        </div>

        <div class="ui-g">
          <div class="ui-lg-6 ui-md-6 ui-sm-12">
            <label>Início:</label>
            <p-calendar [(ngModel)]="sprint.dataInicio" formControlName="dataInicio" showButtonBar="true" [readonlyInput]="true" [locale]="dataBr" dateFormat="dd/mm/yy" [yearNavigator]="true" [monthNavigator]="true" yearRange="1950:2060"></p-calendar>

            <app-form-field-error [form-control]="sprintForm.get('dataInicio')"></app-form-field-error>
          </div>

          <div class="ui-lg-6 ui-md-6 ui-sm-12">
            <label>Término:</label>
            <p-calendar [(ngModel)]="sprint.dataTermino" formControlName="dataTermino" showButtonBar="true" [readonlyInput]="true" [locale]="dataBr" dateFormat="dd/mm/yy" [yearNavigator]="true" [monthNavigator]="true" yearRange="1950:2060"></p-calendar>

            <app-form-field-error [form-control]="sprintForm.get('dataTermino')"></app-form-field-error>
          </div>
        </div>

      </div>

      <div class="ui-g text-right">
        <div class="ui-lg-2 ui-md-3 ui-sm-6">
          <button pButton type="button" icon="pi pi-save" iconPos="left" label="Salvar" [disabled]="submittingForm || sprintForm.invalid" (click)="prepararSalvar()"></button>
        </div>
        <div class="ui-lg-2 ui-md-3 ui-sm-6">
          <button pButton type="button" icon="pi pi-times" iconPos="left" label="Cancelar" (click)="fecharModal()"></button>
        </div>
      </div>
    </form>
  </p-card>
</p-dialog>