<p-card [header]="titulo" styleClass="ui-card-shadow">

  <form [formGroup]='resourceForm'>

    <div class="ui-fluid p-formgrid p-grid">
      <div class="ui-g">
        <div class="ui-lg-8 ui-md-8 ui-sm-12">
          <label>Nome:</label>
          <input type="text" pInputText formControlName="nome">

          <app-form-field-error [form-control]="resourceForm.get('nome')"></app-form-field-error>
        </div>

        <div class="ui-lg-4 ui-md-4 ui-sm-12">
          <label>Projeto:</label>
          <p-dropdown [options]="projetos" formControlName="idProjeto" placeholder="Selecione um Projeto"></p-dropdown>

          <app-form-field-error [form-control]="resourceForm.get('idProjeto')"></app-form-field-error>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-4 ui-md-4 ui-sm-4">
          <label>Situação:</label>
          <p-dropdown [options]="situacoes" formControlName="idSituacao" placeholder="Selecione uma Situação"></p-dropdown>

          <app-form-field-error [form-control]="resourceForm.get('idSituacao')"></app-form-field-error>
        </div>

        <div class="ui-lg-4 ui-md-4 ui-sm-4">
          <label>Data de Entrega:</label>
          <p-calendar [(ngModel)]="resource.dataProximaEntrega" formControlName="dataProximaEntrega" showButtonBar="true" [readonlyInput]="true" [locale]="dataBr" dateFormat="dd/mm/yy" [yearNavigator]="true" [monthNavigator]="true" yearRange="1950:2060"></p-calendar>

          <app-form-field-error [form-control]="resourceForm.get('dataProximaEntrega')"></app-form-field-error>
        </div>

        <div class="ui-lg-4 ui-md-4 ui-sm-4">
          <label>Pontos de Função:</label>
          <input type="text" pInputText formControlName="pontosFuncao" />

          <app-form-field-error [form-control]="resourceForm.get('pontosFuncao')"></app-form-field-error>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-6 ui-md-6 ui-sm-12">
          <label>Fábricas:</label>
          <input type="text" pInputText formControlName="fabrica">

          <app-form-field-error [form-control]="resourceForm.get('fabrica')"></app-form-field-error>
        </div>
      </div>

      <p-fieldset legend="Sprints">
        <div class="ui g">

          <p-table [columns]="colunas" [value]="resource.sprints">
            <ng-template tableStyleClass="lista" pTemplate="header" let-columns>
              <tr>
                <th [class.action]="col.header=='Ações'" *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-recurso>
              <tr>
                <td>{{ recurso.nome }}</td>
                <td>{{ recurso.idStatus }}</td>
                <td>{{ recurso.pontosFuncao }}</td>
                <td>
                  <a pButton type="button" icon="pi pi-pencil" (click)="mostrarDialogSprint(recurso.id)"></a>
                  <a (click)="deletarSprint(recurso)" pButton type="button" icon="pi pi-times"></a>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  <div class="text-center">
                    <h3>Nenhum registro cadastrado!</h3>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <div class="ui-g text-right">
            <div class="ui-lg-2 ui-md-3 ui-sm-6">
              <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Nova Sprint" (click)="mostrarDialogSprint(null)"></button>
            </div>
          </div>
        </div>
      </p-fieldset>
    </div>

    <div class="ui-g text-right">
      <div class="ui-lg-2 ui-md-3 ui-sm-6">
        <button pButton type="button" icon="pi pi-save" iconPos="left" label="Salvar" [disabled]="submittingForm || resourceForm.invalid" (click)="salvarOs()"></button>
      </div>
      <div class="ui-lg-2 ui-md-3 ui-sm-6">
        <button pButton type="button" icon="pi pi-times" iconPos="left" label="Cancelar" routerLink="/os"></button>
      </div>
    </div>
  </form>
</p-card>
<app-sprint-form #dialogSprint (aoCadastrarSprint)="modificarSprint($event)"></app-sprint-form>
